<header>
  <nav class="navbar">
    <nav class="navbar">
      <a class="navbar-brand" href="/explore">
        <i class="fa fa-paw" aria-hidden="true"></i>
        FURiends
      </a>
    </nav>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="/userprofile/<%= user.id %>" class="btn btn-succes" id="log">My Page</a>
        <a href="/users/logout" class="btn btn-success" id="log">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>



<div id="profileInfo">
    <h1 class="display-4 text-center" id="othersName"> Welcome to <%= profile.userName %>'s Page!</h1>
    <input type="hidden" id="id" value=" <%= profile.id %> "></input>
    <div class="row">
      <div class="col-6">
        <div id=wrapper>
          <h5>About Me</h5>
          <p id="userBio"><%= profile.bio %></p>
          <h5>Species</h5>
          <p id="userSpecies"><%= profile.species %></p>
          <h5>Breed</h5>
          <p id="userBreed"><%= profile.breed %></p>
          <h5>I Live in</h5>
          <p id="userLocation"><%= profile.location %></p>
          <h5>Joined</h5>
          <p id="userJoinDate"><%= profile.createdAt %></p>
        </div>
      </div>
      <div class="col-6 text-center">
        <img src="<%= profile.profilePic %>" alt="..." class="img-thumbnail" id="profilePic">
      </div>
    </div>
  </div>
  

<div class="container">
  <div id="containerOther">
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/dashboardOther.js"></script>